<!DOCTYPE html>
<html>
<head>
  <title>Document</title>
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  <meta charset='utf-8'>
</head>
<body>
  <h1>Hola Mundo</h1>
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.title %></td>
          <td><%= product.pricing %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>

